<!DOCTYPE html>
<% if current_user %>

Hello <%= current_user.user_name %>!

<% end %>

<html>
<head>
  <title>CatRental</title>
   <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
